html, body {
  height: 100%;
  padding: 0px;
  margin: 0px;
}

fieldset {
  padding: 2px;
  border-width: 0;
}

#wrapper {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
  height: 100%;
}

.grid-item {
  padding: 10px;
  font-size: 20pt;
  text-align: center;
}

.item-container {
  /* border: 1px solid black; */
}

.info-container {
  text-align: center;
}

.image-container {
  height: 200px;
}

.image-container img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.ui-checkboxradio-label {
  width: 30%;
}
