grid-container {
  display: grid;
  grid-template-columns: auto auto;
  padding: 5px;
}

#wrapper.grid-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  padding: 10px;
}

.grid-item {
  !border: 1px solid rgba(0, 0, 0, 0.8);
  padding: 20px;
  font-size: 30px;
  text-align: center;
}

.image-container {
  height: 200px;
}

.image-container img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

fieldset {
  padding: 2px;
}

.ui-checkboxradio-label {
  width: 30%;
}
